
Primo VE Norm Rules.bbprojectd/Unix Worksheet.worksheet
Primo VE Norm Rules.bbprojectd/Scratchpad.txt
Primo VE Norm Rules.bbprojectd/project.bbprojectdata
Primo VE Norm Rules.bbprojectd/markkehlert.bbprojectsettings
.DS_Store
